war/api/core/core.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="core"
	targetNamespace="http://storedata.spacehopperstudios.com/core"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sdc="http://storedata.spacehopperstudios.com/core"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://storedata.spacehopperstudios.com/core"
			xmlns:sd="http://storedata.spacehopperstudios.com">
			<xsd:import schemaLocation="../storedata.xsd"
				namespace="http://storedata.spacehopperstudios.com" />


			<xsd:element name="GetCountriesInput" type="sdc:GetCountriesRequest" />
			<xsd:element name="GetCountriesOutput" type="sdc:GetCountriesResponse" />

			<xsd:element name="GetStoresInput" type="sdc:GetStoresRequest" />
			<xsd:element name="GetStoresOutput" type="sdc:GetStoresResponse" />

			<xsd:complexType name="GetCountriesRequest">
				<xsd:complexContent>
					<xsd:extension base="sd:Request">
						<xsd:sequence>
							<xsd:element name="store" type="sd:Store" maxOccurs="1" />
						</xsd:sequence>
						<xsd:attribute name="query" type="xsd:string" />
						<xsd:attribute name="count" type="xsd:long" />
						<xsd:attribute name="sortBy" type="xsd:string" />
						<xsd:attribute name="sortDirection" type="sd:SortDirectionType" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetCountriesResponse">
				<xsd:complexContent>
					<xsd:extension base="sd:Response">
						<xsd:sequence>
							<xsd:element name="countries" type="sd:Country"
								maxOccurs="unbounded">
						</xsd:sequence>
						<xsd:attribute name="totalCount" type="xsd:long"
							use="optional" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetStoresRequest">
				<xsd:complexContent>
					<xsd:extension base="sd:Request">
						<xsd:sequence>
							<xsd:element name="country" type="sd:Country"
								maxOccurs="1" />
						</xsd:sequence>
						<xsd:attribute name="query" type="xsd:string" />
						<xsd:attribute name="count" type="xsd:long" />
						<xsd:attribute name="sortBy" type="xsd:string" />
						<xsd:attribute name="sortDirection" type="sd:SortDirectionType" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetStoresResponse">
				<xsd:complexContent>
					<xsd:extension base="sd:Response">
						<xsd:sequence>
							<xsd:element name="stores" type="sd:Store" maxOccurs="unbounded">
						</xsd:sequence>
						<xsd:attribute name="totalCount" type="xsd:long"
							use="optional" />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetTopItemsRequest"></xsd:complexType>

			<xsd:complexType name="GetTopItemsResponse"></xsd:complexType>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetCountriesRequest">
		<wsdl:part name="input" element="sdc:GetCountriesInput"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetCountriesResponse">
		<wsdl:part name="output" element="sdc:GetCountriesOutput"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="core">
		<wsdl:operation name="GetCountries">
			<wsdl:input message="sdc:GetCountriesRequest"></wsdl:input>
			<wsdl:output message="sdc:GetCountriesResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="coreSOAP" type="sdc:core">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
	</wsdl:binding>
	<wsdl:service name="core">
		<wsdl:port name="coreSOAP" binding="sdc:coreSOAP">
			<soap:address location="http://storedata.spacehopperstudios.com/core/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
