war/api/app.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://app.reflection.io" xmlns="http://app.reflection.io">

	<xsd:complexType name="DataType">
		<xsd:attribute name="id" type="xsd:long" default="0" />
		<xsd:attribute name="created" type="xsd:dateTime" use="optional" />
		<xsd:attribute name="deleted" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="FeedFetch">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="category" type="Category"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="country" type="xsd:string" />
				<xsd:attribute name="data" type="xsd:string" />
				<xsd:attribute name="date" type="xsd:dateTime" />
				<xsd:attribute name="ingested" type="xsd:boolean" />
				<xsd:attribute name="store" type="xsd:string" />
				<xsd:attribute name="part" type="xsd:int" />
				<xsd:attribute name="totalParts" type="xsd:int" />
				<xsd:attribute name="type" type="xsd:string" />
				<xsd:attribute name="code" type="xsd:long" />
				<xsd:attribute name="status" type="FeedFetchStatusType" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Country">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="stores" type="xsd:string" maxOccurs="unbounded" />
				</xsd:sequence>

				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="a2Code" type="xsd:string" />
				<xsd:attribute name="a3Code" type="xsd:string" />
				<xsd:attribute name="nCode" type="xsd:int" />
				<xsd:attribute name="continent" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Item">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:attribute name="externalId" type="xsd:string" />
				<xsd:attribute name="internalId" type="xsd:string" />
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="creatorName" type="xsd:string" />
				<xsd:attribute name="price" type="xsd:float" />
				<xsd:attribute name="source" type="xsd:string" />
				<xsd:attribute name="type" type="xsd:string" />
				<xsd:attribute name="added" type="xsd:dateTime" />
				<xsd:attribute name="country" type="xsd:string" />
				<xsd:attribute name="currency" type="xsd:string" />
				<xsd:attribute name="smallImage" type="xsd:string" />
				<xsd:attribute name="mediumImage" type="xsd:string" />
				<xsd:attribute name="largeImage" type="xsd:string" />
				<xsd:attribute name="properties" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Category">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="parent" type="Category" />
				</xsd:sequence>

				<xsd:attribute name="internalId" type="xsd:long" />
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="store" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ItemRankSummary">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:attribute name="itemId" type="xsd:string" />
				<xsd:attribute name="type" type="xsd:string" />
				<xsd:attribute name="source" type="xsd:string" />
				<xsd:attribute name="numberOfTimesRanked" type="xsd:int" />
				<xsd:attribute name="numberOfTimesRankedTop10" type="xsd:int" />
				<xsd:attribute name="numberOfTimesRankedTop25" type="xsd:int" />
				<xsd:attribute name="numberOfTimesRankedTop50" type="xsd:int" />
				<xsd:attribute name="numberOfTimesRankedTop100" type="xsd:int" />
				<xsd:attribute name="numberOfTimesRankedTop200" type="xsd:int" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Rank">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="category" type="Category" />
				</xsd:sequence>
				<xsd:attribute name="position" type="xsd:int" />
				<xsd:attribute name="grossingPosition" type="xsd:int" />
				<xsd:attribute name="itemId" type="xsd:string" />
				<xsd:attribute name="type" type="xsd:string" />
				<xsd:attribute name="country" type="xsd:string" />
				<xsd:attribute name="date" type="xsd:dateTime" />
				<xsd:attribute name="source" type="xsd:string" />
				<xsd:attribute name="price" type="xsd:float" />
				<xsd:attribute name="currency" type="xsd:string" />
				<xsd:attribute name="code" type="xsd:long" />
				<xsd:attribute name="revenue" type="xsd:float" />
				<xsd:attribute name="downloads" type="xsd:int" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Sale">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="account" type="DataAccount" />
					<xsd:element name="fetch" type="DataAccountFetch" />
					<xsd:element name="item" type="Item" />
				</xsd:sequence>
				<xsd:attribute name="country" type="xsd:string" />

				<xsd:attribute name="sku" type="xsd:string" />

				<xsd:attribute name="developer" type="xsd:string" />
				<xsd:attribute name="title" type="xsd:string" />

				<xsd:attribute name="version" type="xsd:string" />

				<xsd:attribute name="typeIdentifier" type="xsd:string" />

				<xsd:attribute name="units" type="xsd:int" />
				<xsd:attribute name="proceeds" type="xsd:float" />
				<xsd:attribute name="currency" type="xsd:string" />
				<xsd:attribute name="begin" type="xsd:date" />
				<xsd:attribute name="end" type="xsd:date" />
				<xsd:attribute name="customerCurrency" type="xsd:string" />
				<xsd:attribute name="customerPrice" type="xsd:float" />
				<xsd:attribute name="promoCode" type="xsd:string" />

				<xsd:attribute name="parentIdentifier" type="xsd:string" />

				<xsd:attribute name="subscription" type="xsd:string" />
				<xsd:attribute name="period" type="xsd:string" />

				<xsd:attribute name="category" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Store">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="countries" type="xsd:string" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="a3Code" type="xsd:string" />
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="url" type="xsd:string" />
				<xsd:attribute name="datasource" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Application">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:attribute type="xsd:string" name="title" />
				<xsd:attribute type="xsd:string" name="recommendedAge" />
				<xsd:attribute type="xsd:string" name="artistName" />
				<xsd:attribute type="xsd:string" name="sellerName" />
				<xsd:attribute type="xsd:string" name="companyUrl" />
				<xsd:attribute type="xsd:string" name="supportUrl" />
				<xsd:attribute type="xsd:string" name="viewUrl" />
				<xsd:attribute type="xsd:string" name="artworkUrlLarge" />
				<xsd:attribute type="xsd:string" name="artworkUrlSmall" />
				<xsd:attribute type="xsd:dateTime" name="itunesReleaseDate" />
				<xsd:attribute type="xsd:string" name="copyright" />
				<xsd:attribute type="xsd:string" name="description" />
				<xsd:attribute type="xsd:string" name="version" />
				<xsd:attribute type="xsd:string" name="itunesVersion" />
				<xsd:attribute type="xsd:long" name="downloadSize" />
				<xsd:attribute type="xsd:boolean" name="usesIap" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="User">
		<xsd:complexContent>
			<xsd:extension base="DataType">

				<xsd:sequence>
					<xsd:element name="permissions" type="Permission" maxOccurs="unbounded" minOccurs="0" />
					<xsd:element name="roles" type="Role" maxOccurs="unbounded" minOccurs="0" />
					<xsd:element name="linkedAccounts" type="DataAccount" maxOccurs="unbounded" minOccurs="0" />
				</xsd:sequence>

				<xsd:attribute type="xsd:string" name="forename" />
				<xsd:attribute type="xsd:string" name="surname" />
				<xsd:attribute type="xsd:string" name="username" />
				<xsd:attribute type="xsd:string" name="avatar" />
				<xsd:attribute type="xsd:string" name="company" />
				<xsd:attribute type="xsd:string" name="password" />
				<xsd:attribute type="xsd:dateTime" name="lastLoggedIn" />
				<xsd:attribute type="xsd:string" name="verified" />
				<xsd:attribute type="xsd:dateTime" name="expires" />
				<xsd:attribute type="xsd:string" name="code" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DataAccount">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="source" type="DataSource" />
					<xsd:element name="items" type="Item" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>

				<xsd:attribute type="xsd:string" name="username" />
				<xsd:attribute type="xsd:string" name="password" />
				<xsd:attribute type="xsd:string" name="properties" />
				<xsd:attribute type="xsd:string" name="active" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DataSource">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="stores" type="xsd:string" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="a3Code" type="xsd:string" />
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="url" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DataAccountFetch">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="linkedAccount" type="DataAccount" />
				</xsd:sequence>
				<xsd:attribute name="status" type="DataAccountFetchStatusType" />
				<xsd:attribute name="data" type="xsd:string" />
				<xsd:attribute name="date" type="xsd:dateTime" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="PermissionTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="User" />
			<xsd:enumeration value="Special" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Permission">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:attribute name="type" type="PermissionTypeType" />
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="description" type="xsd:string" />
				<xsd:attribute name="code" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Role">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="permissions" type="Permission" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="description" type="xsd:string" />
				<xsd:attribute name="code" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ModelRun">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:attribute name="country" type="xsd:string" />
				<xsd:attribute name="store" type="xsd:string" />
				<xsd:attribute name="code" type="xsd:long" />
				<xsd:attribute name="form" type="FormType" />
				<xsd:attribute name="grossingA" type="xsd:double" />
				<xsd:attribute name="paidA" type="xsd:double" />
				<xsd:attribute name="bRatio" type="xsd:double" />
				<xsd:attribute name="totalDownloads" type="xsd:double" />
				<xsd:attribute name="paidB" type="xsd:double" />
				<xsd:attribute name="grossingB" type="xsd:double" />
				<xsd:attribute name="paidAIap" type="xsd:double" />
				<xsd:attribute name="grossingAIap" type="xsd:double" />
				<xsd:attribute name="freeA" type="xsd:double" />
				<xsd:attribute name="theta" type="xsd:double" />
				<xsd:attribute name="freeB" type="xsd:double" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CalibrationSummary">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element type="FeedFetch" name="feedFetch" />
					<xsd:element type="Rank" name="hits" maxOccurs="unbounded" />
					<xsd:element type="Rank" name="misses" maxOccurs="unbounded" />
					<xsd:element type="SimpleModelRun" name="simpleModelRun" />
					<xsd:element type="Item" name="items" maxOccurs="unbounded" />
					<xsd:element type="Store" name="store" />
					<xsd:element type="Country" name="country" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SimpleModelRun">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="feedFetch" type="FeedFetch" />
				</xsd:sequence>

				<xsd:attribute name="a" type="xsd:double" />
				<xsd:attribute name="b" type="xsd:double" />

				<xsd:attribute name="aStandardError" type="xsd:double" />
				<xsd:attribute name="bStandardError" type="xsd:double" />

				<xsd:attribute name="adjustedRSquared" type="xsd:double" />
				<xsd:attribute name="regressionSumSquares" type="xsd:double" />

				<xsd:attribute name="summaryDate" type="xsd:date" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Resource">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="type" type="ResourceTypeType" />
				<xsd:attribute name="properties" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Post">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="author" type="User" />
					<xsd:element name="tags" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="published" type="xsd:dateTime" use="optional" />
				<xsd:attribute name="title" type="xsd:string" use="required" />
				<xsd:attribute name="code" type="xsd:string" />
				<xsd:attribute name="description" type="xsd:string" use="required" />
				<xsd:attribute name="content" type="xsd:string" use="required" />
				<xsd:attribute name="visible" type="xsd:boolean" />
				<xsd:attribute name="commentsEnabled" type="xsd:boolean" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Tag">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:attribute name="name" type="xsd:string" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Forum">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="members" type="User" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="creator" type="User" minOccurs="1" />
					<xsd:element name="topics" type="Topic" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="title" type="xsd:string" use="required" />
				<xsd:attribute name="code" type="xsd:string" />
				<xsd:attribute name="description" type="xsd:string" use="required" />
				<xsd:attribute name="type" type="ForumTypeType" use="required" />
				<xsd:attribute name="numberOfTopics" type="xsd:int" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Topic">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="author" type="User" />
					<xsd:element name="tags" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="replies" type="Reply" maxOccurs="unbounded" />
					<xsd:element name="forum" type="Forum" />
					<xsd:element name="lastReplier" type="User" />
				</xsd:sequence>
				<xsd:attribute name="title" type="xsd:string" use="required" />
				<xsd:attribute name="code" type="xsd:string" />
				<xsd:attribute name="content" type="xsd:string" use="required" />
				<xsd:attribute name="heat" type="xsd:int" />
				<xsd:attribute name="sticky" type="xsd:boolean" />
				<xsd:attribute name="flagged" type="xsd:int" />
				<xsd:attribute name="locked" type="xsd:boolean" />
				<xsd:attribute name="lastReplied" type="xsd:dateTime" />
				<xsd:attribute name="numberOfReplies" type="xsd:int" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Reply">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="author" type="User" />
					<xsd:element name="topic" type="Topic" />
				</xsd:sequence>
				<xsd:attribute name="content" type="xsd:string" use="required" />
				<xsd:attribute name="flagged" type="xsd:int" />
				<xsd:attribute name="solution" type="xsd:boolean" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Session">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="user" type="User" maxOccurs="1" />
				</xsd:sequence>
				<xsd:attribute name="expires" type="xsd:dateTime" use="optional" />
				<xsd:attribute name="token" type="xsd:string" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Event">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:attribute name="type" type="EventTypeType" />
				<xsd:attribute name="code" type="xsd:string" />
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="description" type="xsd:string" />
				<xsd:attribute name="priority" type="EventPriorityType" />
				<xsd:attribute name="subject" type="xsd:string" />
				<xsd:attribute name="shortBody" type="xsd:string" />
				<xsd:attribute name="longBody" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EventSubscription">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="user" type="User" maxOccurs="1" />
					<xsd:element name="event" type="Event" maxOccurs="1" />
					<xsd:element name="eavesDropping" type="User" maxOccurs="1" />
				</xsd:sequence>
				<xsd:attribute name="email" type="EventPriorityType" default="high" />
				<xsd:attribute name="text" type="EventPriorityType" default="critical" />
				<xsd:attribute name="push" type="EventPriorityType" default="normal" />
				<xsd:attribute name="notificationCenter" type="EventPriorityType" default="debug" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Notification">
		<xsd:complexContent>
			<xsd:extension base="DataType">
				<xsd:sequence>
					<xsd:element name="cause" type="EventSubscription" maxOccurs="1" />
					<xsd:element name="event" type="Event" maxOccurs="1" />
					<xsd:element name="user" type="User" maxOccurs="1" />
				</xsd:sequence>
				<xsd:attribute name="from" type="xsd:string" />
				<xsd:attribute name="subject" type="xsd:string" />
				<xsd:attribute name="body" type="xsd:string" />
				<xsd:attribute name="status" type="NotificationStatusType" />
				<xsd:attribute name="type" type="NotificationTypeType" />
				<xsd:attribute name="priority" type="EventPriorityType" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Request">
		<xsd:sequence>
			<xsd:element name="session" type="Session"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="accessCode" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="Response">
		<xsd:sequence>
			<xsd:element name="error" type="Error" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="status" type="StatusType" use="required" />
	</xsd:complexType>

	<xsd:complexType name="Error">
		<xsd:attribute name="code" type="xsd:int" />
		<xsd:attribute name="message" type="xsd:string" />
	</xsd:complexType>

	<xsd:simpleType name="StatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="success" />
			<xsd:enumeration value="failure" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Pager">
		<xsd:attribute name="start" type="xsd:long" />
		<xsd:attribute name="count" type="xsd:long" />
		<xsd:attribute name="sortBy" type="xsd:string" />
		<xsd:attribute name="sortDirection" type="SortDirectionType" />
		<xsd:attribute name="totalCount" type="xsd:long" />
		<xsd:attribute name="boundless" type="xsd:boolean" />
	</xsd:complexType>

	<xsd:simpleType name="SortDirectionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ascending" />
			<xsd:enumeration value="descending" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FormType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="tablet" />
			<xsd:enumeration value="other" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FeedFetchStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="gathered" />
			<xsd:enumeration value="ingested" />
			<xsd:enumeration value="modelled" />
			<xsd:enumeration value="predicted" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="DataAccountFetchStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="gathered" />
			<xsd:enumeration value="empty" />
			<xsd:enumeration value="error" />
			<xsd:enumeration value="ingested" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EmailFormatType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="plaintext" />
			<xsd:enumeration value="html" />
			<xsd:enumeration value="rtf" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EmailTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="system" />
			<xsd:enumeration value="promotional" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ResourceTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="image" />
			<xsd:enumeration value="googlecloudserviceimage" />
			<xsd:enumeration value="youtubevideo" />
			<xsd:enumeration value="html5video" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ForumTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="anonymous" />
			<xsd:enumeration value="public" />
			<xsd:enumeration value="private" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ModelTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="correlation" />
			<xsd:enumeration value="simple" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EventTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="system" />
			<xsd:enumeration value="user" />
			<xsd:enumeration value="rank" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EventPriorityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="critical" />
			<xsd:enumeration value="high" />
			<xsd:enumeration value="normal" />
			<xsd:enumeration value="low" />
			<xsd:enumeration value="debug" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NotificationStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="sending" />
			<xsd:enumeration value="sent" />
			<xsd:enumeration value="read" />
			<xsd:enumeration value="failed" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NotificationTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="email" />
			<xsd:enumeration value="text" />
			<xsd:enumeration value="internal" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
