war/api/admin/admin.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="admin" targetNamespace="http://app.reflection.io/admin" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sda="http://app.reflection.io/admin"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://app.reflection.io/admin" xmlns:sd="http://app.reflection.io">
            <xsd:import schemaLocation="../app.xsd" namespace="http://app.reflection.io" />

            <xsd:element name="GetUsersInput" type="sda:GetUsersRequest" />
            <xsd:element name="GetUsersOutput" type="sda:GetUsersResponse" />

            <xsd:element name="GetUsersCountInput" type="sda:GetUsersCountRequest" />
            <xsd:element name="GetUsersCountOutput" type="sda:GetUsersCountResponse" />

            <xsd:element name="GetModelOutcomeInput" type="sda:GetModelOutcomeRequest" />
            <xsd:element name="GetModelOutcomeOutput" type="sda:GetModelOutcomeResponse" />

            <xsd:complexType name="GetUsersRequest">
                <xsd:complexContent>
                    <xsd:extension base="sd:Request">
                        <xsd:sequence>
                            <xsd:element name="pager" type="sd:Pager" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="GetUsersResponse">
                <xsd:complexContent>
                    <xsd:extension base="sd:Response">
                        <xsd:sequence>
                            <xsd:element name="users" type="sd:User" maxOccurs="unbounded" />
                            <xsd:element name="pager" type="sd:Pager" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="GetUsersCountRequest">
                <xsd:complexContent>
                    <xsd:extension base="sd:Request" />
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="GetUsersCountResponse">
                <xsd:complexContent>
                    <xsd:extension base="sd:Response">
                        <xsd:attribute name="count" type="xsd:long" />
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="GetModelOutcomeRequest">
                <xsd:complexContent>
                    <xsd:extension base="sd:Request">
                        <xsd:sequence>
                            <xsd:element name="country" type="sd:Country" />
                            <xsd:element name="store" type="sd:Store" />
                        </xsd:sequence>
                        <xsd:attribute name="date" type="xsd:dateTime" />
                        <xsd:attribute name="listType" type="xsd:string" />
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="GetModelOutcomeResponse">
                <xsd:complexContent>
                    <xsd:extension base="sd:Response">
                        <xsd:attribute name="grossingA" type="xsd:double" />
                        <xsd:attribute name="paidA" type="xsd:double" />
                        <xsd:attribute name="bRatio" type="xsd:double" />
                        <xsd:attribute name="totalDownloads" type="xsd:double" />
                        <xsd:attribute name="paidB" type="xsd:double" />
                        <xsd:attribute name="grossingB" type="xsd:double" />
                        <xsd:attribute name="piadAIap" type="xsd:double" />
                        <xsd:attribute name="grossingAIap" type="xsd:double" />
                        <xsd:attribute name="freeA" type="xsd:double" />
                        <xsd:attribute name="theta" type="xsd:double" />
                        <xsd:attribute name="freeB" type="xsd:double" />
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetUsersRequest">
        <wsdl:part name="input" element="sda:GetUsersInput" />
    </wsdl:message>
    <wsdl:message name="GetUsersResponse">
        <wsdl:part name="output" element="sda:GetUsersOutput" />
    </wsdl:message>

    <wsdl:message name="GetUsersCountRequest">
        <wsdl:part name="input" element="sda:GetUsersCountInput" />
    </wsdl:message>
    <wsdl:message name="GetUsersCountResponse">
        <wsdl:part name="output" element="sda:GetUsersCountOutput" />
    </wsdl:message>

    <wsdl:portType name="admin">
        <wsdl:operation name="GetUsers">
            <wsdl:input message="sda:GetUsersRequest" />
            <wsdl:output message="sda:GetUsersResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetUsersCount">
            <wsdl:input message="sda:GetUsersCountRequest" />
            <wsdl:output message="sda:GetUsersCountResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="adminSOAP" type="sda:admin">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetUsers">
            <soap:operation soapAction="http://app.reflection.io/admin/GetUsers" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetUsersCount">
            <soap:operation soapAction="http://app.reflection.io/admin/GetUsersCount" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="admin">
        <wsdl:port name="adminSOAP" binding="sda:adminSOAP">
            <soap:address location="http://app.reflection.io/admin/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
